/* Start Variables */
:root {
  --blue-color: #3685fb;
  --green-color: #00b3a0;
  --grey-color: #697687;
  --section-padding: 120px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #f8f8f8;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(54, 133, 251, 80%);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color);
  border-radius: 10px;
}
.header {
  height: auto;
  width: 100%;
  background-color: #f8f8f8;
  /* position: relative; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #f8f8f8;
}
.navbar .logo {
  padding: 25px 0 27px 0;
}
.navbar .links,
.navbar .links .quicklinks {
  display: flex;
  gap: 40px;
  align-items: center;
}
a {
  text-decoration: none;
}
.navbar .links .quicklinks a {
  text-transform: capitalize;
  font-size: 16px;
  color: #002248;
}
button {
  cursor: pointer;
}
.navbar .links .quicklinks a.active {
  color: var(--blue-color);
  position: relative;
}
.navbar .links a:hover {
  color: var(--blue-color);
}

.btn button {
  background-color: var(--blue-color);
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border: 10px solid var(--blue-color);
}
.fixed .navbar .btn button {
  width: 110px;
  height: 40px;
  animation: shake-vertical 0.8s ease 2s 1;
}

@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

.navbar .links .icon {
  font-size: 26px;
  display: none;
}
@media (max-width: 767px) {
  .navbar .links .icon {
    display: block;
    position: absolute;
    right: 130px;
    cursor: pointer;
  }
  .navbar .links .quicklinks {
    display: none;
  }
}
.navbar .links .quicklinks.appear {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  right: 0;
  background-color: transparent;
  width: 100%;
  padding: 20px 0;
  z-index: 3;
}
.fixed .navbar .quicklinks.appear {
  top: 75px;
}
.footer .quicklinks.appear {
  bottom: 75px;
}
.nav-bg,
.foot-bg {
  position: absolute;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(18px);
  border: 0;
  width: 0;
  height: 330px;
  z-index: 2;
}
.nav-bg {
  top: 75px;
}
.foot-bg {
  bottom: 75px;
}
.nav-bg.desactive,
.foot-bg.desactive {
  animation: barhide 0.2s linear;
}
.nav-bg.active,
.foot-bg.active {
  border: 2px solid var(--blue-color);
  border-radius: 15px;
  width: 100%;
  animation: barshow 0.2s linear;
}
@keyframes barshow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@keyframes barhide {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
.nav-bg.active::before,
.foot-bg.active::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  position: absolute;
  z-index: 3;
  right: 127px;
}
.nav-bg.active::before {
  top: -20px;
  border-color: transparent transparent var(--blue-color) transparent;
}
.foot-bg.active::before {
  bottom: -20px;
  border-color: var(--blue-color) transparent transparent transparent;
}

.coverpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coverpage .imgsholder {
  position: relative;
  flex-basis: 47%;
  height: 597px;
}
.coverpage .title {
  flex-basis: 42%;
}
@media (max-width: 767px) {
  .coverpage .imgsholder {
    display: none;
  }
  .coverpage .title {
    flex-basis: 100%;
    text-align: center;
  }
  .coverpage {
    height: 66vh;
  }
}
.coverpage .imgsholder .img1 {
  border: 8px solid white;
  border-radius: 200px;
  background-image: url("../images/image 4.jpg");
  height: 540px;
  width: 400px;
  background-size: cover;
}
.coverpage .imgsholder .img2 {
  position: absolute;
  border: 8px solid white;
  border-radius: 160px;
  z-index: 2;
  background-image: url("../images/image 3.jpg");
  height: 430px;
  width: 320px;
  background-size: cover;
  bottom: 0;
  right: 0;
}
@media (max-width: 1000px) {
  .coverpage .imgsholder {
    height: 497px;
  }
  .coverpage .imgsholder .img1 {
    width: 310px;
    height: 440px;
  }
  .coverpage .imgsholder .img2 {
    width: 230px;
    height: 330px;
  }
}
.title .btn button {
  width: 160px;
  height: 50px;
  border: 10px solid var(--blue-color);
}
.greentitle {
  color: var(--green-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
}
.title h1 {
  font-size: 50px;
  margin: 25px auto;
}
.description {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.6;
}
ul {
  list-style: none;
}
.rectangle {
  position: relative;
  bottom: -45px;
  margin: 0 25px;
  z-index: 2;
}
.rectangle ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.rectangle ul li {
  display: block;
  text-align: center;
  flex-basis: 25%;
  padding-top: 20px;
  background-color: white;
  box-shadow: 1px 2px 0px var(--grey-color);
}
.rectangle ul li:last-child {
  background-color: var(--blue-color);
  border-radius: 0 20px 20px 0;
}
.rectangle ul li:first-child {
  border-radius: 20px 0 0 20px;
}
.rectangle ul li select {
  border: none;
  font-weight: bold;
}
.rectangle ul li .select {
  color: var(--grey-color);
}
.rectangle ul li p:not(.select) {
  font-weight: bold;
  color: white;
}
@media (max-width: 767px) {
  .rectangle ul li {
    flex-basis: 50%;
  }
  .rectangle ul li:last-child {
    border-radius: 0 0 20px 0;
  }
  .rectangle ul li:first-child {
    border-radius: 20px 0 0 0;
  }
  .rectangle ul li:nth-child(2) {
    border-radius: 0 20px 0 0;
  }
  .rectangle ul li:nth-child(3) {
    border-radius: 0 0 0 20px;
  }
  .rectangle {
    bottom: -98px;
  }
}
.section-1 {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 120px;
  padding-top: calc(120px + 45px);
}
.sectiontitle {
  margin: 0 auto;
  text-align: center;
  max-width: 550px;
}
h2 {
  font-size: 42px;
  margin: 24px auto;
}
.boxes {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-1.animate .boxes .box {
  transition: 2s;
  transform: translate(0);
  transition-delay: calc(0.2s * var(--i));
}
.section-1 .boxes .box {
  flex-basis: 32%;
  text-align: center;
  padding: 55px 14px 39px 14px;
  border: 1px solid transparent;
  box-shadow: 1px 2px 8px 3px rgba(62, 66, 66, 0.29);
  transform: translateX(-200%);
}
@media (max-width: 767px) {
  .section-1 .boxes .box {
    flex-basis: 100%;
    margin-bottom: 5px;
  }
}
.section-2 {
  background-color: #f8f8f8;
  position: relative;
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.section-2 .title {
  max-width: 500px;
  /* position: relative; */
}
.section-2 .boxes {
  position: relative;
}
.section-2 .boxes #arrleft,
.section-2 .boxes #arrright {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  /* border: 2px solid var(--blue-color); */
  background-color: transparent;
  font-size: 30px;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
}
.section-2 .boxes #arrleft:hover,
.section-2 .boxes #arrright:hover {
  font-size: 35px;
  color: var(--blue-color);
  transition: 0.2s;
}
#arrleft {
  left: -10px;
}
#arrright {
  right: -10px;
}
.section-2 .boxes .box {
  flex-basis: 32%;
  position: relative;
}
.section-2 .boxes .box img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.section-2 .boxes .box .info {
  background-color: #0022484d;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  backdrop-filter: blur(5px);
}
.info h4 {
  margin: 0;
  font-size: 20px;
}
.place,
.price {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: white;
  align-items: center;
}
.section-2 .boxes .box .info .place img {
  flex-basis: 33%;
}
@media (max-width: 767px) {
  .section-2 .boxes .box {
    flex-basis: 48%;
  }
  .section-2 .title::after,
  .section-2 .title::before {
    display: none;
  }
}
@media (max-width: 500px) {
  .section-2 .boxes .box {
    flex-basis: 100%;
    margin-bottom: 5px;
  }
  .section-2 .boxes .box:not(.active) {
    display: none;
  }
  .section-2 .boxes #arrleft,
  .section-2 .boxes #arrright {
    display: block;
  }
}
.section-3 {
  position: relative;
  background-image: url("../images/image\ 6.png");
  background-size: cover;
  height: 650px;
}
.section-3 .vector {
  position: absolute;
  right: 0;
  background-image: url("../images/Vector2.png");
  width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section-3 .vector .title {
  position: relative;
  max-width: 450px;
  margin-right: 10vw;
  margin-left: 30vw;
}
.section-3 > img {
  position: absolute;
  z-index: 2;
  bottom: -78px;
  right: 40vw;
  width: fit-content;
  transform: translate(200%) rotate(0deg);
}
.section-3.animate > img {
  transform: translate(0) rotate(360deg);
  transition: 2s 0.8s;
}
@media (max-width: 1000px) {
  .section-3 .vector {
    width: 90%;
  }
  .section-3 .vector .title {
    margin-right: 5vw;
    margin-left: 40vw;
  }
}
@media (max-width: 767px) {
  .section-3 {
    background-image: none;
  }
  .section-3 .vector {
    background-image: none;
    background-color: #ffffff;
    width: 100%;
    justify-content: center;
  }
  .section-3 .vector .title {
    padding: 0 15px;
    text-align: center;
    margin: 0;
  }
  .section-3 > img,
  .section-3.animate > img {
    right: 50%;
    transform: translateX(50%);
    transition: 0;
  }
}
.section-4 {
  background-color: #fff;
  position: relative;
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.section-4 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-4 .container .infobox {
  flex-basis: 46%;
  display: flex;
  flex-direction: column;
}
.section-4 .container .imgsholder {
  position: relative;
  flex-basis: 47%;
}
.section-4 .imgsholder .img1 {
  border: 5px solid white;
  border-radius: 200px;
  background-image: url("../images/image\ 28.jpg");
  height: 540px;
  width: 400px;
  background-size: cover;
  float: right;
  padding: 5px;
}
.section-4 .imgsholder .img2 {
  position: absolute;
  border: 5px solid white;
  border-radius: 200px;
  z-index: 3;
  background-image: url("../images/image 9.jpg");
  height: 430px;
  width: 320px;
  background-size: cover;
  bottom: -30px;
  left: 0;
}
.section-4 .container .infobox .stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 80px;
}
.section-4 .container .infobox .stats .stat {
  text-align: center;
  flex-basis: 46%;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 150px;
}
.section-4 .container .infobox .stats .stat::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-conic-gradient(
    from var(--a),
    var(--blue-color) 0%,
    var(--blue-color) 10%,
    transparent 20%,
    transparent 50%
  );
  animation: rotateSnake 4s linear infinite;
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes rotateSnake {
  0% {
    --a: 0deg;
  }
  100% {
    --a: -360deg;
  }
}
.section-4 .container .infobox .stats .stat div {
  position: absolute;
  width: 95%;
  height: 95%;
  z-index: 3;
  background-color: white;
}
.section-4 .container .infobox .stats .stat h3 {
  font-size: 32px;
  color: var(--blue-color);
}
.section-4 .container .infobox .stats .stat p {
  color: #002248;
  font-size: 14px;
}
@media (max-width: 1000px) {
  .section-4 .container .imgsholder {
    display: none;
  }
  .section-4 .container .infobox {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .section-4 .container .infobox .title {
    flex-basis: 47%;
  }
  .section-4 .container .infobox .stats {
    flex-basis: 42%;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .section-4 .container .infobox {
    flex-direction: column;
  }
  .section-4 .container .infobox .title {
    text-align: center;
  }
}
.section-5 {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f8f8f8;
}
.section-5 .map {
  position: relative;
  background-image: url("../images/Vector3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  margin-top: 30px;
}
.section-5 .map .quotes {
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-5 .map .quotes p {
  color: #697687;
  font-size: 14px;
}
.section-5 .map .quotes h4 {
  margin: 15px 0;
}
.section-5 .map > img {
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.section-5 .map > .current {
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}
.section-5 .map > .next {
  top: 32px;
  left: 160px;
}
.section-5 .map > .previous {
  top: 166px;
  left: 204px;
}
#img4 {
  top: 220px;
  left: 72px;
}
#img5 {
  top: 349px;
  left: 196px;
}
#img6 {
  top: 116px;
  right: 196px;
}
#img7 {
  top: 175px;
  right: 10px;
}
#img8 {
  bottom: 66px;
  right: 50px;
}
.section-5 .map .slides {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
}

.section-5 .map .slides div:not(.active) {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #6976874d;
}
.section-5 .map .slides div.active {
  height: 8px;
  width: 25px;
  border-radius: 10px;
  background-color: var(--blue-color);
}

@media (max-width: 1000px) {
  .previous,
  #img5,
  #img6 {
    display: none;
  }
}
@media (max-width: 767px) {
  .section-5 .map > img:not(.current) {
    display: none;
  }
  .section-5 .map .quotes {
    position: relative;
  }
}
.imgsection {
  padding-top: var(--section-padding);
  padding-bottom: 50px;
  background-color: #ffffff;
}
.imgsection .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgsection .head .title {
  max-width: 450px;
}
.imgsection .head .btn button {
  width: 160px;
  height: 50px;
  border: 10px solid var(--blue-color);
}
.imgsection .imgcontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 100%;
}
.imgsection .imgcontainer img {
  width: 18%;
  height: auto;
}
.imgsection .imgcontainer img:first-child {
  border-radius: 0 180px 180px 0;
  width: 9%;
}
.imgsection .imgcontainer img:nth-child(3) {
  border-radius: 180px;
}
.imgsection .imgcontainer img:last-child {
  border-radius: 180px 0 0 180px;
  width: 9%;
}
.imgsection .imgcontainer .square {
  border-radius: 10px;
}
@media (max-width: 767px) {
  .imgsection {
    padding-bottom: 0;
  }
  .imgsection .head {
    flex-direction: column;
  }
  .imgsection .head .title {
    text-align: center;
  }
}
.contactsection {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #ffffff;
}
.contactsection .letter {
  margin: 0 85px;
  background-color: #f3f8ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 15px 30px 0 50px;
  overflow: hidden;
}
.contactsection .letter .title {
  max-width: 380px;
}
.contactsection .letter .title h2 {
  font-size: 52px;
  color: #002248;
}
.contactsection .letter img {
  width: 40%;
  transform: translateY(100%);
}
.contactsection.animate .letter img {
  transform: translateY(0);
  transition: 1.2s;
}
@media (max-width: 1000px) {
  .contactsection .letter {
    margin: 0;
  }
  .contactsection .letter .title h2 {
    font-size: 42px;
  }
  .contactsection .letter img {
    width: 50%;
  }
  .contactsection .letter .title {
    max-width: 270px;
  }
}
@media (max-width: 767px) {
  .contactsection .letter {
    padding: 30px;
  }
  .contactsection .letter img {
    display: none;
  }
  .contactsection .letter .title {
    text-align: center;
    flex-basis: 100%;
    margin: 0 auto;
  }
}
.footer {
  background-color: #ffffff;
  padding-bottom: 50px;
}
.footer .navbar .media {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.footer .navbar {
  border-bottom: 1px solid #6976871a;
}
.footer .navbar .media div {
  padding: 8px;
  color: #697687;
  border: 1px solid #697687;
  border-radius: 20px;
}
.footer .navbar .media div:hover {
  background-color: #697687;
  color: #ffffff;
}
.footer .licence p {
  text-align: center;
  color: #697687;
  font-size: 14px;
}
.sectiontitle,
.title:not(#first-title) {
  transform: scale(0.8);
  opacity: 0;
  filter: blur(5px);
}
.animate .sectiontitle,
.animate .title:not(#first-title) {
  transition: 0.2s;
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
}
